h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

@media only screen and (min-width : 992px) {
    header, main, footer, nav {
        padding-left: 300px;
    }
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav {
    background-color: #6e80bd;
}

header {
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

header h1 {
    color: #6e80bd;
    font-weight: 300;
}

header h5 {
    color: rgba(0, 0, 0, 0.7);
}

.center {
    width: 100%;
    text-align: center;
}

#header-logo {
    display: inline-block;
    margin-top: 14px;
}

@media only screen and (max-width : 992px) {
    #sidenav-trigger-b {
        visibility: visible;
    }
}
@media only screen and (min-width : 992px) {
    #sidenav-trigger-b {
        visibility: hidden;
    }
}

#d-button {
    background-color: #6e80bd;
    width: 260px;
    height: 70px;
    margin: 4px;
    padding: 0;
    line-height: 70px;
    font-size: 18px;
    font-weight: 400;
}

.margin-top-50 {
    margin-top: 50px;
}

.active {
    background-color: rgba(0,0,0,.05);
}

.version {
    color: rgba(0,0,0,.53);
}

.contents {
    text-align: center;
}
@media only screen and (min-width : 992px) {
    .contents {
        padding-left: 300px;
    }
}

.adbox {
    width: 300px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
}

.adimg {
    float: left;
    padding-left: 10px;
}

.adtxt {
    display: block;
    float: right;
    padding-right: 10px;
    line-height: 66px;
    height: 100%;
}

.w350 {
    width: 350px;
}

.w400 {
    width: 400px;
}

.ib {
    display: inline-block;
}

.wrapper {
    overflow: scroll;
}